@font-face {
  font-family: 'ScpRomanRegular';
  src:
    url('fonts/source_code_pro_roman_regular.ttf')
}
body {
  font-family: 'ScpRomanRegular', Fallback, 'Courier New';
}
#eline-bw {
	height: 600px;
	width: 100%;
	background-image: url("images/eline_bw.jpg");
	background-size: cover;
}
.info {
  color: white;
  display: inline-block;
  background-color: rgba(0,0,0,0.5);
  padding: 5px;
  margin-bottom: 0px;
}
.note_message {
  height: 75px;
}
.note_container {
  position: fixed;
  width: 100%;
  bottom: 0;
}
.note_title {
  color: white;
}
